[submodule "pbh-verifier/lib/forge-std"]
	path = pbh-verifier/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pbh-verifier/lib/world-id-contracts"]
	path = pbh-verifier/lib/world-id-contracts
	url = https://github.com/worldcoin/world-id-contracts
[submodule "pbh-verifier/lib/semaphore-v3"]
	path = pbh-verifier/lib/semaphore-v3
	url = https://github.com/worldcoin/semaphore-v3
[submodule "pbh-verifier/lib/account-abstraction"]
	path = pbh-verifier/lib/account-abstraction
	url = https://github.com/eth-infinitism/account-abstraction
